<footer class="footer">
    <div class="container">
        <a href="https://kadaster.nl" class="logo-kadaster">{% embed '../../assets/images/logo-kadaster.svg' %}{% endembed %}</a>
    </div>
	<!-- Start Piwik PRO Tag Manager code -->
	<script type="text/javascript">
		(function(window, document, script, dataLayer, id) {
		function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}var isStgDebug=(window.location.href.match("stg_debug")||window.document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
		window[dataLayer]=window[dataLayer]||[],window[dataLayer].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName(script)[0],tags=document.createElement(script),dl="dataLayer"!=dataLayer?"?dataLayer="+dataLayer:"";tags.async=!0,tags.src="//kadasterbv.containers.piwik.pro/"+id+".js"+dl,isStgDebug&&(tags.src=tags.src+"?stg_debug"),scripts.parentNode.insertBefore(tags,scripts);
		!function(a,n,i,t){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0),t=a;"string"==typeof a[0]&&(t={event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)}),window[dataLayer].push(t)}}(i[c])}(window,"ppms",["tm","cp","cm"]);
		})(window, document, 'script', 'dataLayer', '8dd1c44e-31e3-405c-b570-091f17541db7');
	</script>
	<noscript>
		<iframe src="//kadasterbv.containers.piwik.pro/8dd1c44e-31e3-405c-b570-091f17541db7/noscript.html" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Piwik PRO Tag Manager code -->
</footer>
